# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Binaries directory
/bin/
/tmp/

# Environment files
.env
.env.*
!.env.example

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Logs
/storage/logs/
*.log
log.txt

# Keys and certificates
*.key
*.pem
private.key
public.pem
pkcs8.key

# Air configuration
.air.toml

# Docker related
docker-compose.override.yml

# MacOS files
.DS_Store

# TODO files
A TODO/